/* .flexbox
{
    display: inline-block;
} */

.textCenter
{
    text-align: center;
    width: auto;
    font-size: 60px;
    padding: 20px;
}



/* .colorblue
{
    background-color:blue;
}
.colorblueviolet
{
    background-color:blueviolet;
} */



.first_page
{
    text-align:  center;
    margin: 0;
    padding: 0;
}

.navurl
{
    margin: 0;
    padding: 0;
    position: relative;
}
.navurl li{
    display: inline-block;
    font-size: 30px;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navurl a
{
    text-decoration: none;
}

.icon
{
    text-align: right;
}

header .navurl li:hover
{
    background-color: beige;
}


.iconRight
{
    position: absolute;
    right: 30px;

}




.main 
{
    
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    height: 400px;
}
.grid-item 
{
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 30px;
    text-align: center;
}


.main .contentRight
{
    /* background-color: aquamarine; */
    border-style: solid;
    border-width: 0px 0px 0px 10px;
}

.main .contentLeft
{
    text-align: justify;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 2px solid red; 

}


.main .contentLeft p
{
    width: 80%;
    margin: auto;
    font-family:Serif;
    line-height: 45px;
    font-size: 30px;
}




.main .contentRight img
{
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(164, 28, 28, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}